@media screen and (max-width: 600px) {
    body{
        font-size: 10px;
        background-color:blue;
        color:white;
    }
}
@media screen and (max-width: 600px) {
    body{
        font-size: 10px;
        background-color:blue;
        color:white;
    }
}